.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: 0;
	font-family: var(--font-heading);
	font-weight: var(--font-medium);
	white-space: normal;
	box-sizing: border-box;
	line-height: 24px;
	letter-spacing: 0.1em;
	line-height: 24px;
	letter-spacing: 0.1em;
}

.button:active {
  transform: scale(0.97);
}

.primary {
	background-color: var(--color-blue-primary);
	color: var(--color-background);
}

.primary:focus {
	outline: 2px solid var(--color-blue-primary);
	background-color: var(--color-white);
	color: var(--color-blue-primary);
	filter: drop-shadow(6px 6px 0 var(--color-blue-secondary));
}

.primary:hover,
.primary.hover {
	outline: 1px solid var(--color-blue-primary);
	background-color: var(--color-blue-secondary);
	color: var(--color-blue-primary);
}

.primary:active {
	outline: 1px solid var(--color-blue-primary);
	background-color: var(--color-white);
	color: var(--color-blue-primary);
}

.secondary {
	background-color: var(--color-pink-primary);
	color: var(--color-background);
}

.secondary:focus {
	outline: 2px solid var(--color-pink-primary);
	background-color: var(--color-white);
	color: var(--color-pink-primary);
	filter: drop-shadow(6px 6px 0 var(--color-blue-secondary));
}

.secondary:hover,
.secondary.hover {
	outline: 1px solid var(--color-pink-primary);
	background-color: var(--color-pink-secondary);
	color: var(--color-pink-primary);
}

.secondary:active {
	background-color: var(--color-white);
}

.disabled {
	background-color: var(--color-gray-dark);
	color: var(--color-background);
}

.small {
	padding: var(--space-sm) var(--space-md);
	font-size: var(--text-base);
}

.medium {
	padding: var(--space-sm) var(--space-lg);
	font-size: var(--text-base);
}

.large {
	padding: var(--space-md) var(--space-lg);
	font-size: var(--text-lg);
}
