.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: 0;
	font-family: var(--font-heading);
	font-weight: var(--font-weight-medium);
	white-space: normal;
	box-sizing: border-box;
}

.button:active {
  transform: scale(0.97);
}

.primary {
	background-color: var(--color-primary);
	color: var(--color-background);
	border: 2px solid transparent;
}

.primary:focus {
	outline: 2px solid var(--color-primary);
	outline-offset: 2px;
	/* background-color: transparent; */
}

.primary:hover {
	box-shadow: 0 4px 12px rgba(0, 102, 204, 0.3);
	background-color: var(--color-primary);
	color: var(--color-background);
}

.primary:active {
	background-color: var(--color-primary);
	color: var(--color-background);
}

.secondary {
	border: 2px solid var(--color-secondary);
	background-color: transparent;
	color: var(--color-secondary);
}

.secondary:focus {
	outline: 2px solid var(--color-secondary);
	outline-offset: 2px;
	background-color: transparent;
}

.secondary:hover {
	box-shadow: none;
	background-color: var(--color-secondary);
	color: var(--color-background);
}

.secondary:active {
	background-color: var(--color-secondary);
	color: var(--color-background);
}

.disabled {
	background-color: var(--color-gray-light);
	color: var(--color-gray-dark);
}

.small {
	padding: var(--spacing-xs) var(--spacing-md);
	font-size: var(--font-size-sm);
}

.medium {
	padding: var(--spacing-sm) var(--spacing-lg);
	font-size: var(--font-size-base);
	line-height: 24px;
	letter-spacing: 0.08em;
}

.large {
	padding: var(--spacing-md) var(--spacing-xl);
	font-size: var(--font-size-lg);
}
