/* Base styles for the entire toggle wrapper (label for accessibility) */
.toggleWrapper {
  display: inline-block;
  position: relative;
  width: 104px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: var(--font-heading);
  box-sizing: border-box;
}

/* Hidden native checkbox for accessibility */
.toggleInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--color-gray-dark);
  background-color: #FFFFFF;
  transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
  box-sizing: border-box;
}

.toggleTrack {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: transparent;
}

.toggleThumb {
  position: absolute;
  width: calc(50% + 2px);
  height: 100%;
  background-color: var(--color-gray-light);
  left: 0;
  transition: left 0.2s ease-out, background-color 0.2s ease-out;
  box-sizing: border-box;
}

.toggleThumbOn {
  left: calc(50% - 2px);
  background-color: var(--color-primary);
}

.toggleLabelText {
  position: absolute;
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-gray-dark);
  left: 0;
  transition: color 0.2s ease-out;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.toggleLabelTextOn {
  color: #FFFFFF;
  left: 50%;
}


/* --- STATES --- */

/* Focus state for the toggle (when the hidden input is focused) */
.toggleInput:focus + .toggleContainer {
  outline: none;
  border-color: var(--color-gray-dark);
}

.toggleInput:focus + .toggleContainer .toggleLabelText {
  color: var(--color-gray-dark);
}

.toggleWrapper:hover .toggleContainer {
  border-color: var(--color-primary);
}

.toggleWrapper:hover .toggleLabelText {
  color: var(--color-primary);
}

.toggleWrapper:hover .toggleThumb {
  background-color: #c9c9c9;
}

.toggleWrapper:hover .toggleLabelText {
  color: var(--color-primary);
  transform: translateX(4px);
}

.toggleInput:checked + .toggleContainer:hover .toggleThumb {
  transform: translateX(-4px);
}

.toggleInput:checked + .toggleContainer:hover .toggleLabelText {
  color: #FFFFFF;
  transform: translateX(-4px);
}

.toggleInput:checked + .toggleContainer {
  background-color: #EBEBEB;
  border-color: var(--color-primary);
}

.toggleInput:checked + .toggleContainer .toggleLabelText {
  color: #FFFFFF;
}
