.about {}

.fullHeight {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-background);
  padding: var(--space-6xl) var(--space-lg);
}

.generalInfo, .experience {
  font-family: var(--font-body);
  font-size: var(--text-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-bottom: var(--space-6xl);
}

.bio {
  font-family: var(--font-body);
  font-size: var(--text-lg);
  line-height: 1.6;
  margin: 0;
}

.location {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.location p {
  font-size: var(--text-lg);
  font-weight: var(--font-normal);
  margin: 0;
}

.generalTitle, .experienceTitle {
  font-family: var(--font-heading);
  font-size: var(--text-5xl);
  letter-spacing: 0.04em;
  padding-bottom: var(--space-sm);
  width: fit-content;
  margin: 0;
  margin-bottom: var(--space-lg);
}

.skillsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.skillsCategory {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  min-width: 160px;
  padding: var(--space-lg) var(--space-xl);
  background-color: var(--color-background);
  border: 2px solid var(--color-white);
  border-radius: var(--space-xs);
  filter: drop-shadow(6px 6px 0 var(--color-white));
}

.skillsCategory h3 {
  font-family: var(--font-heading);
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  margin: 0 0 var(--space-sm) 0;
}

.skillsCategory ul {
  list-style-type: none;
  font-family: var(--font-body);
  font-size: var(--text-lg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm)
}

/* Tablet styles */
@media (max-width: 768px) {
  .fullHeight {
    padding: var(--space-6xl) var(--space-2xl);
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .fullHeight {
    padding: var(--space-6xl) var(--space-6xl);
  }
}

