.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  color: #FFFFFF;
  background-color: #000000;
  padding: var(--space-lg) var(--space-xl);
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.footerMain {
  margin: 0;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.infoSection h3 {
  font-family: var(--font-heading);
  font-size: var(--text-lg);
  letter-spacing: 0.1rem;
  margin: 0;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-family: var(--font-body);
  font-size: var(--text-sm);
}

.contactItem {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

.contactItem a {
  text-decoration: none;
  color: #FFFFFF;
}

.divider {
  color: var(--color-gray-dark);
}

.footerNav {
  display: flex;
  gap: var(--space-2xl);
  padding: 0;
}
 
.footerNav a {
  text-decoration: none;
  border-bottom: 1px solid transparent; /* Reserve 1px space for hover effect */
  color: #FFFFFF;
}
 
.footerNav a:hover {
  border-bottom: 1px dashed #FFFFFF;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  align-items: center;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.socialMedia img {
  filter: invert(100%);
  width: var(--space-xl);
  height: var(--space-xl);
  transition: transform 0.2s ease-in-out;
}

.footerCopyright {
  font-family: var(--font-heading);
  font-size: var(--text-sm);
  letter-spacing: 0.1rem;
  color: var(--color-gray-light);
}

.footerCopyrightText {
  margin: 0;
}

.footerLogo {
  max-width: var(--space-6xl);
}

/* Desktop styles */
@media (min-width: 769px) {
  .footer {
    padding: var(--space-xl) var(--space-4xl);
  }

  .footerContent {
    flex-direction: row;
    justify-content: space-between;
  }

  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footerBottomLeft {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
  }

  .footerLogo {
    max-width: var(--space-8xl);
  }
}
